<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LIST APP</title>
</head>
<body>
  <h1>買い物リスト編集</h1>
  <a href="/">キャンセル</a>
  <p>買うもの</p>
  <form action="/update/<%= item.id %>" method="post"> 
    <input value="<%= item.name %>" type="text" name="itemName"><br>
    <input type="submit" value="更新する">
  </form>


</body>
</html>