<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LIST APP</title>
</head>
<body>
  <h1>買い物リスト作成</h1>
  <p>買うもの</p>
  <form action="/create" method="post"> 
    <input type="text" name="itemName"><br>
    <input type="submit" value="作成する">
  </form>

  <a href="/">戻る</a>
</body>
</html>